* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #171615;
    color: white;
    text-align: center;
    font-family: 'Cairo', sans-serif;
}

.tabcontent {
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

nav {
    background-color: #171615;
}

nav .container .logo {
    background-color: #171615;
    width: 30%;
    height: 100%;
}

nav .container .logo img {
    background-color: #171615;
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

nav .container {
    width: 80%;
    margin: auto;
    padding: 25px 0;
    background-color: #171615;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .container button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(97, 94, 94);
}

nav .container button:hover {
    background-color: rgb(34, 33, 33);
    transition: .3s;
}

#Paris {
    display: none;
}

nav .container img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@media (max-width: 426px) {
    nav .container {
        width: 80%;
        align-items: center;
    }

    nav .tab {
        display: flex;
        align-items: center;
    }

    nav .container .logo {
        width: 40%;
    }

    nav .container button {
        margin: 0 5px;
        padding: 5px 10px;
    }
}

.hero-section iframe {
    width: 100%;
    height: 600px;
}

.images-section {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

.images-section h1 {
    margin: 25px 0;
}

.images-section .container {
    width: 80%;
    margin: auto;
}

.images-section .container img {
    width: 50%;
    margin: 25px 0;
}

@media (max-width: 426px) {
    .images-section .container img {
        width: 80%;
    }
}

.text-section {
    padding: 100px 0;
}

.text-section .container {
    width: 50%;
    margin: auto;
}

.text-section h1 {
    margin: 25px 0;
}

#Paris .main-section {
    padding: 100px 0;
}

#Paris .main-section .container {
    width: 80%;
    margin: auto;
}

#Paris .main-section .container h1 {
    margin: 25px 0;
}

#Paris .main-section .container p {
    line-height: 1.5;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.contact-container {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    gap: 50px;
}

.contact-container .contact {
    padding: 10px 20px;
    background-color: antiquewhite;
    color: black;
}

.contact-container .contact a {
    background-color: transparent;
    color: black;
}

.contact-container .contact p {
    background-color: transparent;
    color: black;
}

@media (max-width: 769px) {
    .contact-container {
        flex-direction: column;
    }
}